<div class="container d-flex justify-content-center align-items-center vh-20">
  <div class="card p-4 shadow" style="width: 400px;">
    <h2 class="text-center">Đăng Nhập</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
          Email không hợp lệ.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          Mật khẩu phải có ít nhất 6 ký tự.
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Đăng Nhập</button>

      <p *ngIf="errorMessage" class="text-danger text-center mt-2">{{ errorMessage }}</p>
    </form>
  </div>
</div>