<main class="main">
  <div class="min-vh-100 bg-light d-flex flex-column align-items-center justify-content-center p-4">
    <div class="w-100 mw-50 bg-white shadow-lg rounded-4 p-4 mb-2">
      <h1 class="text-center mb-4 text-dark">
        📝 Quản lý Công việc
      </h1>
    </div>

    <h5 class="text-center mb-4 text-dark">
      <a routerLink="/register" routerLinkActive="fw-bold" class="mx-3 btn btn-light shadow-sm px-4 py-2">🏠 Trang chủ</a>
      <a routerLink="/tasks" routerLinkActive="fw-bold" class="mx-3 btn btn-light shadow-sm px-4 py-2">📝 Danh sách Task</a>
      <a routerLink="/create-task" routerLinkActive="fw-bold" class="mx-3 btn btn-light shadow-sm px-4 py-2">➕ Tạo Task</a>
    </h5>
    <!-- 👇 Phải có thẻ này -->
    <router-outlet></router-outlet>
  </div>
</main>